.btn-primary-color, .btn-multiplayer {
    color: white;
    font-size: 1.5em;
  }
  
.btn-primary-color {
    background-color: #D900D0;

    &:hover {
        color: white;
        background-color: #a3019e;
    }
}   
  
.btn-multiplayer {
    background-color: #00A3FF;

    &:hover {
        color: white;
        background-color: #0768a0;
    }
}

  